.contacto {
	height: 700px;
	padding-left: 100px;
}
.mapaUbicacion {
	padding: 15px 0px 20px;
}
.horarios {
	font-size: 20px;
	padding: 200px 0px 0px;
}
.ubicacion {
	h2 {
		text-align: center;
	}
}
.wpp {
	padding: 50px 0px 0px 0px;
	img {
		padding: 40px;
		width: 150px;
	}
}