.tituloInicio {
	text-align: center;
	padding: 20px;
}
.tituloContacto {
	text-align: center;
	padding: 20px;
}
.tituloPreguntas {
	text-align: center;
	padding: 20px;
}
.tituloQuienes {
	text-align: center;
	padding: 20px;
}
.tituloServicios {
	text-align: center;
	padding: 20px;
}