$color_1: white;
$color_2: rgb(0, 0, 0);
$color_3: #000;
$color_4: aliceblue;
$color_5: #fff;
$font-family_1: fuenteProyecto;
$background-color_1: black;
$background-color_2: #444343d8;
$background-color_3: rgba(0, 0, 0, 0.911);
$background-color_4: #fff;
$background-color_5: rgba(255, 255, 255, 0.267);
$background-color_6: #1c1c1c;
$background-color_7: #2e2e2e;

body {
	font-family: $font-family_1;
	background-image: url("../img/fondo4-min.jpg");
}
